<div class="space-y-4">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
    <div>
      <label class="text-xs text-gray-600">Child</label>
      <p-select [options]="childOptions" [(ngModel)]="selectedChildId" (ngModelChange)="loadPerformance()" placeholder="Select child" class="w-full"></p-select>
    </div>
  </div>

  <p-table [value]="records()" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th>Date</th>
        <th>Subject</th>
        <th>Score</th>
        <th>Remarks</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-r>
      <tr>
        <td>{{ r.date | date:'shortDate' }}</td>
        <td>{{ r.subject }}</td>
        <td>{{ r.score }}</td>
        <td>{{ r.remarks }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>


