<app-top-bar [title]="'Onboarding'" 
[isUserMenuOpen]="false" 
[user]="currentUser() ?? null" 
[userDisplayName]="userDisplayName()" 
[userEmail]="userEmail()" 
[userAvatar]="currentUser()?.details?.profileImage" (signOut)="onLogoutClick()"></app-top-bar>
<ul class="flex items-center justify-center gap-2 mx-auto px-4 py-2 sticky top-0 z-10">
    @for(step of onboardingSteps; track step.label){
    <li class="flex items-center justify-center gap-2">
        <a [routerLink]="step.link" routerLinkActive="border-b-2 border-primary text-primary bg-primary/10 p-1.5 rounded-md" class="text-gray-500 text-sm 
        px-2 py-4 flex flex-col items-center gap-2 hover:rounded-md hover:border-b-2 hover:border-primary pb-1 hover:bg-primary/10 rounded-md hover:text-primary
        font-medium hover:text-gray-900 transition-colors duration-200">
            <i [ngClass]="step.icon" class="w-5 fa"></i>
            <span class="text-lg font-bold">{{step.label}}</span>
        </a>
    </li>
    }
</ul>
<router-outlet></router-outlet>