<p-toast />
<div class="flex h-screen overflow-hidden pb-[65px] lg:pb-0">
  <!-- Mobile Sidebar Overlay -->
   @if(isMobileMenuOpen()){
     <div class="fixed inset-0 z-100 bg-black opacity-50 lg:hidden" (click)="closeMobileMenu()"></div>
   }

  <!-- Sidebar -->
  @if(isMobile()){
  <aside class="fixed inset-y-0 left-0 z-101 w-64 bg-white shadow-md transform transition-transform duration-300 lg:hidden" 
  [ngClass]="{
    'translate-x-0 right-0': isMobileMenuOpen(),
    '-translate-x-full': !isMobileMenuOpen()
  }"
  >
    <app-side-nav [isOpen]="isMobileMenuOpen()" (close)="closeMobileMenu()"></app-side-nav>
  </aside>
}
@else{
    <aside class="bg-white shadow-md w-64 flex-shrink-0 hidden lg:block">
      <app-side-nav [isOpen]="isMobileMenuOpen()" (close)="closeMobileMenu()"></app-side-nav>
    </aside>
}
  <!-- Main Content Area -->
  <div class="flex-1 flex flex-col overflow-hidden">
    <!-- Top Header -->
    <app-top-bar [title]="'Dashboard'" [isUserMenuOpen]="isUserMenuOpen()" [userDisplayName]="getUserDisplayName()" [userEmail]="getUserEmail()" [userAvatar]="currentUser()?.userDetails?.profileImage" (toggleMobileMenu)="toggleMobileMenu()" (toggleUserMenu)="toggleUserMenu()" (profile)="onProfileClick()" (settings)="onSettingsClick()" (signOut)="onSignOutClick()"></app-top-bar>

    <!-- Main Content -->
    <main class="flex-1 overflow-y-auto p-6">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>