@import "tailwindcss";
@import "primeicons/primeicons.css";
/* src/app/layout/admin-layout.component.css */

/* Ensure top offset for sidebar matches header height (header is 4rem = 64px) */
:host {
  display: block;
}

/* optional: smooth scrollbar styling */
aside::-webkit-scrollbar {
  width: 8px;
}
aside::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.2); /* gray-400/20 */
  border-radius: 8px;
}

@theme {
  --color-primary: #f5530d;
  --color-secondary: #8b5cf6;

}

.app-input-field {
  @apply w-full px-3 py-3 border border-gray-200 rounded-xl focus:outline-none focus:ring focus:ring-primary focus:border-primary transition;
}

.p-dialog-content{
  overflow-y: unset !important;
}
.app-primary-button {
  @apply px-4 py-2 bg-primary text-white rounded-lg hover:bg-primary/80 transition;
}
.app-secondary-button {
  @apply px-4 py-2 bg-gray-200 text-gray-700 rounded-lg hover:bg-gray-300 transition;
}